<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="./LandingPage.css">
    <!-- <link rel="stylesheet" href="../global.css" /> -->
</head>
<body>
    
  <div class="home">
    <div class="frame">
      <div class="overlap-group">
        <img class="illustration" src="../img/illustration_medicines.svg" />
        <button class="medium-button">Get Started</button>
      </div>
      <img class="illustration-loving" src="../img/illustration_loving.svg" />
      <div class="text-wrapper">Your Health</div>
      <div class="div">Our Responsibillity</div>
      <p class="p">
        Forem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
        tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed
        risus. Maecenas eget condimentum velit, sit amet feugiat lectus.
      </p>
    </div>
  </div>
</body>
</html>