.location-search-box {
    display: flex;
    align-items: center;
    width: 286px;
    position: relative;
}

.location-search-box>img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}
.searchDoc {
    height: 340px;
    width: 312px;
}
.search-location-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    border: 1px solid #ddd;
    border-left: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.search-location-input-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 2px;
    border: 1px solid #555;
}

.search-location-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

.search-location-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-location-result-item>span:nth-of-type(2)>div:nth-of-type(1) {
    color: #414146;
    font-size: 14px;
}

.search-location-result-item>span:nth-of-type(2)>div:nth-of-type(2) {
    color: #787887;
    font-size: 12px;
}

.search-location-result-item:hover {
    background-color: #f0f0f5;

}




.doctor-search-box {
    display: flex;
    align-items: center;
    width: 430px;
    position: absolute;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0,.1) 0 - 1px 0 0 inset;
    border-radius: 5px;
    height: 100vh;
}

.doctor-search-box>img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}
.finddoctor .input-text-wrapper {
    position: relative;
    width: 380px;
    height: 23px;
    top: 16px;
    left: 24px;
    border: none;
    background: none;
    font-family: var(--text-normal-font-family);
    font-weight: var(--text-normal-font-weight);
    color: var(--color-grey-2);
    font-size: var(--text-normal-font-size);
    letter-spacing: var(--text-normal-letter-spacing);
    line-height: var(--text-normal-line-height);
    white-space: nowrap;
    font-style: var(--text-normal-font-style);
    padding: 0;
    padding-left: 0;
}
.finddoctor .input-right-icon {
    position: absolute;
    width: 32px;
    height: 43px;
    bottom: 35px;
    right: 12px;
}
.finddoctor .input-label {
    width: 430px;
    height: 86px;
    position: relative;
    /* left: 12px; */
}
.finddoctor .form {
    position: absolute;
    width: 430px;
    height: 55px;
    top: 0px;
    left: 0;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-grey-4);
}
.search-doctor-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border:1px solid rgb(59, 58, 58);
}

.findiconimg{
    width: 40px;
    left: 0;
    background-color: rgb(239, 234, 234);
    height: 40px;
    border: 1px solid rgb(59, 58, 58);
    z-index: -99;

}
.search-doctor-input-results {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 420px;
    margin-top: 2px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
}

.search-doctor-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
    border-radius: 8px;
}

.search-doctor-result-item:hover {
    background-color: #f0f0f5;
}

.search-doctor-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 8px;
    background-color: #f0f0f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-doctor-result-item>span:nth-of-type(2) {
    font-size: 14px;
    color: #414146;
}

.search-doctor-result-item>span:nth-of-type(3) {
    font-size: 11px;
    flex-grow: 1;
    color: #787887;
    text-align: right;
    text-transform: uppercase;
    justify-self: flex-end;
}
.home-search-container {
    /* width: 712px;
    padding: 20px 0;
    display: flex;
    align-items: center; */
    height: 55px;
}

.finddoctor{
    /* height: 0 auto; */
    overflow: hidden;
} 
.finddoctor .mainimg{
    width: 312px;
    height: 312px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}