<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="../global.css" /> -->
    <link rel="stylesheet" href="./Navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navigation-bar">
      <div class="logo-part">
        <div class="text-wrapper">StayHealthy</div>
        <img class="illustration-health" src="../img/health_care.svg" />
      </div>
      <div class="tabs">
        <div class="overlap-group">
          <div class="tab active">
            <div class="section">Home</div>
          </div>
          <div class="tab">
            <div class="section">Appointments</div>
          </div>
          <div class="tab">
            <div class="section">Health Blog</div>
          </div>
          <div class="tab">
            <div class="section">Reviews</div>
          </div>
        </div>
      </div>
      <div class="login-btns">
        <div class="primary"><div class="primary-2">Login</div></div>
        <div class="primary-wrapper"><div class="primary-2">Sign-up</div></div>
      </div>
    </div>
  </body>
</html>
