/* Doc card */
.doc-card{
  position: relative;
  width: 317px;
  height: 460px;
  background-color: #ffffff;
  border-radius: 8pX;
  border: 1px solid;
  border-color: var(--color-grey-5);
  box-shadow: 2px 4px 8px rgba(9, 44, 76, 0.16)
}
.bookedInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookedInfo .small-button {
  /* position: absolute; */
  width: 241px;
  height: 48px;
  top: 374px;
  left: 38px;
  background-color: var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookedInfo .button-sample {
  /* position: absolute; */
  top: 13px;
  left: 70px;
  font-family: var(--text-small-bold-font-family);
  font-weight: var(--text-small-bold-font-weight);
  color: var(--color-white);
  font-size: var(--text-small-bold-font-size);
  letter-spacing: var(--text-small-bold-letter-spacing);
  line-height: var(--text-small-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-small-bold-font-style);
}
.doc-card .star {
  /* position: absolute; */
  width: 18pX;
  height: 18px;
  top: 25px;
  /* left: 61pX; */
}

.stars-block {
  display: flex;
  row-gap: 2px;
}

/* .doc-card .text-wrapper.expirience {
  font-family: var(--text-small-font-family);
  font-weight: var(--text-small-font-weight);
  color: var(--color-primary);
  font-size: var(--text-small-font-size);
  text-align: center;
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  font-style: var(--text-small-font-style);
} */

.doc-card .rating{
  /* position: absolute; */
  width: 84px;
  top: 22px;
  left: 3px;

}

.doc-card .rating-group{
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.doc-card .overlap.mainInfo {
  position: relative;
  height: 53px;
  /* top: 252px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.doc-card .text-wrapper-2.name {
  position: absolute;
  width: 148px;
  top: 0;
  font-family: var(--text-medium-bold-font aund ront family);
  left:_ 10px;
  font-weight: var(--text-medium-bold-font-weight);
  color: var(--color-primary);
  font-size: var(--text-medium-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-medium-bold-letter-spacing);
  line-height: var(--text-medium-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-medium-bold-font-style);
}

.doc-card .text-wrapper-3.speciality {
  margin-top: 27px;
  font-family: var(--text-small-bold-font-family);
  font-weight: var(--text-small-bold-font-weight);
  color: var(--color-grey-3);
  font-size: var(--text-small-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-small-bold-letter-spacing);
  line-height: var(--text-small-bold-line-height);
  font-style: var(--text-small-bold-font-style);
}
.doc-card .cool-guy{
  /* position: absolute; */
  width: 200px;
  height: 205px;
  margin-top: 34px;
  left: 59px;
}
.doc-card .small-button {
  position: absolute;
  width: 241px;
  height: 48px;
  top: 374px;
  left: 38px;
  background-color: var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
}
.doc-card .button-sample {
  /* position: absolute;
  top: 13px;
  left: 70px; */
  font-family: var(--text-small-bold-font-family);
  font-weight: var(--text-small-bold-font-weight);
  color: var(--color-white);
  font-size: var(--text-small-bold-font-size);
  letter-spacing: var(--text-small-bold-letter-spacing);
  line-height: var(--text-small-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-small-bold-font-style);
}
.doc-card .name{
  /* Dr. Denis Jar */

  position: absolute;
  width: 148px;
  height: 29px;
  left: 85px;
  top: 253px;

  /* Text - Medium Bold */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* or 140% */
  text-align: center;

  /* Color - Primary */
  color: #092C4C;
}

.doc-card .spec{

}

.doctor-card-container {
    width: 300px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .cancel-appointment {
    background-color: var(--color-error) !important;
  }
  
  .doctor-card-details-container {
    padding: 20px;
  }
  
  .doctor-card-profile-image-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .doctor-card-profile-image-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .doctor-card-details {
    text-align: center;
  }
  
  .doctor-card-detail-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .doctor-card-detail-speciality {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .doctor-card-detail-experience {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .doctor-card-detail-location,
  .doctor-card-detail-clinic,
  .doctor-card-detail-consultationfees {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .doctor-card-detail-consultationfees{
    font-weight: bold;
    
  }
  
  .book-appoinment-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-appoinment-btn div:nth-child(2) {
    font-size: 12px;
    font-weight: bold;
  }
  .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.doctorbg{
  -webkit-scrollbar {
    display: none;
}



}
.modal-btn:hover {
  background-color: #0d8af5;
}

.cancel-appointment-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-appointment-btn:hover {
  background-color: #d63027;
}
.appointment-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 32px;
  /* height: auto;
  overflow-y: auto; */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


.btnslot{
  background-color: green;
  cursor: pointer;
  /* color: rgb(249, 60, 60); */
}
